header {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem 2rem;

	.nav-btn {
		width: 4.2rem;
		height: 4.2rem;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		z-index: 15;

		span {
			position: absolute;
			width: 30px;
			height: 2px;
			background: var(--font-light);
			border-radius: 4px;
			transition: all 400ms ease-in-out;
			left: 8px;

			&:nth-of-type(1) {
				transform: translateY(-8px);
				width: 20px;
				left: 8px;
			}
			&:nth-of-type(2) {
				transform: translateY(8px);
				width: 10px;
				left: 8px;
			}
		}

		&:hover,
		&:active {
			span {
				background: var(--main-bg-light);
			}
		}
	}
	.nav-btn.active {
		span {
			background: var(--main-bg-light);

			&:nth-of-type(3) {
				opacity: 0;
				width: 0;
			}
			&:nth-of-type(1) {
				width: 30px;
				transform: translateX(0px) rotate(45deg);
				transition-delay: 0.125s;
			}
			&:nth-of-type(2) {
				width: 30px;
				transform: translateX(0px) rotate(315deg);
				transition-delay: 0.25s;
			}
		}
	}
	nav {
		padding: 6rem 3rem;
		display: none;
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--app-bg);
		opacity: 0;
		animation: nav-slide 0.4s ease-in-out forwards 0.2s;
		@keyframes nav-slide {
			0% {
				opacity: 0;
				transform: translateY(-50px);
			}
			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}

		.profile-btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 2rem;
			right: 2rem;
			cursor: pointer;

			.img {
				margin-bottom: 0.7rem;
				border: 1px solid var(--font-light);
				border-radius: 50%;
				overflow: hidden;
				width: 45px;
				height: 45px;
			}
			h4 {
				transition: all 250ms ease-in-out;
				font-size: 1.3rem;
				color: var(--font-light);
				font-weight: 400;
			}
			&:hover,
			&:active {
				h4 {
					color: var(--main-bg-light);
				}
			}
		}

		.nav-links {
			h4 {
				height: auto;
				transition: color 200ms ease-in;
				font-size: 2rem;
				margin: 4rem 0;
				letter-spacing: 1px;
				font-weight: 300;
				@include line-hover;

				&:hover,
				&:active {
					color: var(--main-bg-light);
				}
			}

			h4.active {
				color: var(--main-bg-light);
				&::before {
					opacity: 1;
					transform: unset;
				}
			}
		}

		.nav-bottom {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			.logo {
				cursor: pointer;
				overflow: visible;
				width: 16rem;
				height: auto;
			}

			.theme-wrapper {
				margin-bottom: 0.8rem;
				@include icon-unactive;

				.icon {
					font-size: 2.8rem;
					color: var(--main-bg-dark);
				}
			}
			.theme-wrapper.active {
				@include icon-active;
			}
		}
	}
	nav.active {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 14;
	}
	.cart-btn.active {
		color: var(--main-bg-light);
	}
}

.details-page-header {
	.nav-btn,
	.cart-btn,
	nav {
		display: none;
	}
	height: 74px;

	.icon-pressed {
		color: #ff0000;
	}

	.icon {
		font-size: 2.8rem;
	}
}
