.app-container {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}

header,
footer {
	width: 100%;
}

header {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem;
	// background: #f99;

	.nav-btn {
		width: 5rem;
		height: 4rem;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		z-index: 15;

		span {
			position: absolute;
			width: 30px;
			height: 3px;
			background: var(--font);
			background: var(--bg-dark);
			border-radius: 4px;
			transition: 500ms;
			left: 15px;

			&:nth-of-type(1) {
				transform: translateY(-8px);
				width: 20px;
				left: 15px;
			}
			&:nth-of-type(2) {
				transform: translateY(8px);
				width: 10px;
				left: 15px;
			}
		}
	}
	.nav-btn-active {
		span {
			&:nth-of-type(3) {
				opacity: 0;
				width: 0;
			}
			&:nth-of-type(1) {
				width: 30px;
				transform: translateX(0px) rotate(45deg);
				transition-delay: 0.125s;
			}
			&:nth-of-type(2) {
				width: 30px;
				transform: translateX(0px) rotate(315deg);
				transition-delay: 0.25s;
			}
		}
	}

	nav {
		display: none;
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--app-bg);
		opacity: 0;
		animation: nav-slide 0.4s ease-in-out forwards 0.2s;
		@keyframes nav-slide {
			0% {
				opacity: 0;
				transform: translateY(-100px);
			}
			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}
		padding: 3rem;

		a {
			font-size: 3rem;
			font-weight: 700;

			font-family: "Playfair Display", serif;
			font-weight: 500;
			font-style: italic;
		}

		.logo {
			width: 16rem;
			cursor: pointer;
			@include pressed;
		}

		.theme-wrapper {
			position: absolute;
			bottom: 2.4rem;
			left: 2.4rem;

			.icon {
				font-size: 3.2rem;
				color: var(--bg-dark);
			}
		}
	}

	.nav-active {
		@include centering;
		flex-direction: column;
	}

	.cart {
		@include centering;
		cursor: pointer;
		padding: 0.8rem;

		.icon {
			font-size: 3rem;
			color: var(--font);
			transition: color 250ms ease-in-out;
			&:hover,
			&:active {
				color: var(--bg);
			}
		}
	}

	.active {
		color: var(--green);
		position: relative;

		&::before {
			width: 28px;
			height: 2px;
			position: absolute;
			content: "";
			bottom: 3px;
			left: 50%;
			right: 50%;
			transform: translate(-50%, -50%);
			background: var(--green);
			border-radius: 4px;
			opacity: 0;
			@include fade-in;
		}
	}
}

.auth-page,
.profile-page,
.cart-page {
	min-height: calc(100vh - 7.8rem);
}

// .dropdown-box {
// 	position: absolute;
// 	top: 6.2rem;
// 	right: 24px;
// 	background: var(--light-green);
// 	border-radius: 4px;
// 	border: 1px solid var(--green);
// 	opacity: 0;
// 	transform: translateY(-50px);
// 	animation: slide-in 150ms ease-in-out forwards;
// 	@keyframes slide-in {
// 		0% {
// 			opacity: 0;
// 			transform: translateY(-14px);
// 		}
// 		100% {
// 			opacity: 1;
// 			transform: translateY(0px);
// 		}
// 	}

// 	&:hover,
// 	&:active {
// 		border-color: var(--blue);
// 	}

// 	.link {
// 		cursor: pointer;
// 		font-size: 1.8rem;
// 		color: var(--dark-blue);
// 		padding: 2rem 2rem 2rem 1.2rem;
// 		display: flex;
// 		justify-content: flex-start;
// 		align-items: center;

// 		width: 100%;

// 		p,
// 		.icon {
// 			color: inherit;
// 			font-size: inherit;
// 		}
// 		.icon {
// 			margin-right: 0.8rem;
// 		}

// 		&:hover,
// 		&:active {
// 			background: var(--blue);
// 			color: var(--light-green);
// 		}
// 	}
// }
