.app-container {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}

header,
footer {
	width: 100%;
}

header {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem;

	.nav-btn {
		width: 5rem;
		height: 4rem;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		z-index: 15;

		span {
			position: absolute;
			width: 30px;
			height: 2px;
			background: var(--font);
			border-radius: 4px;
			transition: all 400ms ease-in-out;
			left: 15px;

			&:nth-of-type(1) {
				transform: translateY(-8px);
				width: 20px;
				left: 15px;
			}
			&:nth-of-type(2) {
				transform: translateY(8px);
				width: 10px;
				left: 15px;
			}
		}
	}
	.nav-btn-active {
		span {
			background: var(--bg-dark);

			&:nth-of-type(3) {
				opacity: 0;
				width: 0;
			}
			&:nth-of-type(1) {
				width: 30px;
				transform: translateX(0px) rotate(45deg);
				transition-delay: 0.125s;
			}
			&:nth-of-type(2) {
				width: 30px;
				transform: translateX(0px) rotate(315deg);
				transition-delay: 0.25s;
			}
		}
	}

	nav {
		padding: 8rem 3rem 3rem 3rem;
		display: none;
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--app-bg);
		opacity: 0;
		animation: nav-slide 0.4s ease-in-out forwards 0.2s;
		@keyframes nav-slide {
			0% {
				opacity: 0;
				transform: translateY(-50px);
			}
			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}

		.profile-btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 2.4rem;
			right: 2.4rem;
			cursor: pointer;

			.img {
				margin-bottom: 0.6rem;
				border: 1px solid var(--font);
				border-radius: 50%;
				overflow: hidden;
				width: 45px;
				height: 45px;
			}
			h4 {
				transition: all 250ms ease-in-out;
				font-size: 1.3rem;
				color: var(--font);
			}
			&:hover,
			&:active {
				h4 {
					color: var(--bg-dark);
				}
			}
		}

		.nav-links {
			h4 {
				width: max-content;
				height: auto;
				position: relative;
				cursor: pointer;
				transition: color 200ms ease-in;
				font-size: 2.2rem;
				margin: 3.6rem 0;
				padding-bottom: 0.5rem;
				letter-spacing: 1px;
				font-weight: 300;

				&:hover,
				&:active {
					color: var(--bg-dark);
				}
			}

			h4.active {
				color: var(--bg-dark);
				&::before {
					position: absolute;
					content: "";
					background: var(--bg-dark);
					border-radius: 4px;
					opacity: 0;
					@include fade-in;
					width: 100%;
					bottom: 1px;
					height: 3px;
					left: 0px;
					transform: unset;
				}
			}
		}

		.nav-bottom {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			.logo {
				cursor: pointer;
				@include pressed;
				overflow: visible;
				width: 18rem;
				height: auto;
			}

			.theme-wrapper {
				margin-bottom: 0.8rem;
				@include icon-unactive;

				.icon {
					font-size: 3.2rem;
					color: var(--bg-dark);
				}
			}
			.theme-wrapper.active {
				@include icon-active;
			}
		}
	}

	.nav-active {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 14;
	}

	.cart {
		@include centering;
		@include icon-unactive;
		color: var(--font);

		.icon {
			font-size: 3rem;
			color: inherit;
			position: relative;
			right: 1px;
		}
	}
	.cart.active {
		@include icon-active;
	}
}

.auth-page,
.profile-page,
.cart-page {
	min-height: calc(100vh - 96px);
}
