.auth-container {
	background-color: var(--app-bg);
	background-image: var(--auth-page-bg);

	.wrapper {
		margin: -3rem 0 6rem 0;
		padding: 0 3rem;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.svg-img {
			width: 85%;
			max-width: 34rem;
			margin-bottom: 1rem;

			#floor {
				animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
				animation-delay: 0s;
			}
			#shadows {
				animation: 1s 1 forwards ease-in fadeIn;
				animation-delay: 0s;
			}
			#clouds {
				animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn,
					1.5s Infinite linear floating;
				animation-delay: 0s, 1s;
			}
			#plants {
				animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
				animation-delay: 0s;
			}
			#shopping-cart {
				animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
				animation-delay: 0s;
			}
			#device {
				animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft,
					1.5s Infinite linear wind;
				animation-delay: 0s, 1s;
			}
			#character {
				animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
				animation-delay: 0s;
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes floating {
				0% {
					opacity: 1;
					transform: translateY(0px);
				}
				50% {
					transform: translateY(-10px);
				}
				100% {
					opacity: 1;
					transform: translateY(0px);
				}
			}
			@keyframes slideDown {
				0% {
					opacity: 0;
					transform: translateY(-30px);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}
			@keyframes slideLeft {
				0% {
					opacity: 0;
					transform: translateX(-30px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			@keyframes slideRight {
				0% {
					opacity: 0;
					transform: translateX(30px);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			@keyframes wind {
				0% {
					transform: rotate(0deg);
				}
				25% {
					transform: rotate(0.3deg);
				}
				75% {
					transform: rotate(-0.3deg);
				}
			}
		}

		.form-wrapper {
			padding: 2.4rem;
			border-radius: 16px;
			@include glass;
			max-width: 32rem;

			form,
			.social-auth-btns {
				position: relative;
				z-index: inherit;
			}

			form {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: center;

				.top {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin-bottom: 4rem;

					h4 {
						font-size: 3.2rem;
						color: var(--main-bg-light);
						font-weight: 400;
						margin-bottom: 1.4rem;
					}

					.top-action {
						width: 100%;
						@include centering;
						justify-content: flex-start;
						h2 {
							font-size: 1.2rem;
							color: var(--font);
							margin-right: 0.8rem;
						}
						button {
							@include line-hover;

							p {
								font-size: 1.2rem;
								font-weight: 700;
								color: var(--main-bg-dark);
							}
						}
					}
				}

				.input-bar-icon {
					margin-bottom: 1.8rem;
				}

				h5 {
					font-size: 1rem;
					color: var(--main-bg-dark);
					text-align: center;
					font-weight: 400;
					max-width: 22rem;
					margin: 2rem auto;
				}
			}
			.social-auth-btns {
				@include centering;
				flex-direction: column;

				h4 {
					font-size: 1.2rem;
					margin-bottom: 2.4rem;
					color: var(--main-bg-light);
					position: relative;
					overflow-x: visible;
					&::before,
					&::after {
						content: "";
						position: absolute;
						width: 100px;
						height: 1px;
						border-radius: 20px;
						top: 50%;
						bottom: 50%;
						background: var(--main-bg-light);
					}
					&::before {
						left: 28px;
					}
					&::after {
						right: 28px;
					}
				}
			}

			.signup-form {
				.top {
					margin-bottom: 4rem;

					h4 {
						font-size: 2.63rem;
					}
				}
			}
		}
	}
}
