.btn {
	@include centering;
	cursor: pointer;
	color: var(--font);
	background: var(--main-bg-light);
	transition: all 200ms ease-in-out;
	box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
	p,
	.icon {
		font-size: inherit;
		color: inherit;
	}

	&:hover,
	&:active {
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
		background: var(--main-bg-dark);
		color: var(--app-bg);
	}
}

.btn-small {
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	border-radius: 4px;
	.icon {
		margin-left: 0.4rem;
	}
}
.btn-medium {
	padding: 0.9rem 0;
	width: 100%;
	font-size: 1.8rem;
	border-radius: 4px;
	.icon {
		margin-left: 0.6em;
	}
}

.auth-btn {
	cursor: pointer;
	width: 219.32px;
	height: 46px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	color: var(--font);
	transition: all 250ms ease-in-out;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

	&:hover,
	&:active,
	&:focus {
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	}
}

.google-btn {
	position: relative;
	background: var(--google-btn-bg);
	white-space: nowrap;
	margin-bottom: 1.2rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	overflow-y: hidden;

	svg {
		background: inherit;
		width: 46px;
		margin-right: 8px;
	}
	&:hover,
	&:active,
	&:focus {
		background: var(--google-btn-bg-pressed);
	}
}
.facebook-btn {
	background: #4267b2;
	color: rgb(250, 250, 250);
	p {
		color: #fff;
	}
	.fb-icon {
		width: 46px;
		height: 46px;
		margin-right: 8px;
		@include centering;
		.icon {
			font-size: 16px;
		}
	}

	&:hover,
	&:active {
		background: #2b59b6;
	}
}
.email-btn {
	width: 219.32px;
	height: 46px;
	font-size: 14px;
}

.icon-btn {
	color: var(--font-light);
	cursor: pointer;
	transition: color 250ms ease-in-out;

	.icon {
		font-size: 2.4rem;
		color: inherit;
	}

	&:hover,
	&:active {
		color: var(--main-bg-light);
	}
}

.disabled-btn {
	cursor: not-allowed !important;
	background: rgba(0, 0, 0, 0.6) !important;

	.icon {
		position: relative;
		top: -1px;
	}
}
