@import "./resets";
@import "./mixins";
@import "./buttons";
@import "@pages/404/404";
@import "@pages/auth/auth";
@import "@pages/cart/cart";
@import "@pages/profile/profile";
@import "@pages/products/products";
@import "@comps/layout/layout";
@import "@comps/temporary/temporary";

label,
textarea,
input {
	color: var(--main-bg-dark);
	width: 100%;

	&:focus {
		outline: 0;
	}
	font-size: 1.6rem;
	line-height: 2.4rem;
	&::placeholder {
		color: var(--main-bg-light);
	}
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		transition: background-color 5000s;
		-webkit-text-fill-color: var(--main-bg-dark) !important;
	}
}

.input-bar {
	input {
		padding: 0.6rem;
		background: transparent;
		border: 0;
		border-bottom: 1px solid var(--main-bg-light);

		&:focus {
			border-color: var(--main-bg-dark);
		}
	}
}

.input-bar-icon {
	padding: 0.6rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: transparent;
	border-bottom: 1px solid var(--main-bg-light);

	.icon {
		color: var(--main-bg-light);
		font-size: 2.2rem;
		margin-right: 1.2rem;
	}

	input {
		border: 0;
		background: none;
	}
	&:focus-within {
		border-color: var(--main-bg-dark);
		.icon {
			color: var(--main-bg-dark);
		}
	}
}

textarea {
	width: 100%;
	border-radius: 16px;
	padding: 1rem;
	color: var(--font);
}
