@import "./resets";
@import "./mixins";
@import "./buttons";
@import "@pages/404";
@import "@pages/auth";
@import "@pages/cart";
@import "@pages/profile";
@import "@pages/products";
@import "@pages/products/[id]";
@import "@comps/layout/footer";
@import "@comps/layout/header";
@import "@comps/auth/authCard";
@import "@comps/auth/authSvg";
@import "@comps/products/productCard";
@import "@comps/cart/cartItem";
@import "@comps/cart/checkoutCard";
@import "@comps/fragments";
@import "@comps/notify";

label,
textarea,
input {
	color: var(--main-bg-dark);
	width: 100%;

	&:focus {
		outline: 0;
	}
	font-size: 1.6rem;
	line-height: 2.4rem;
	&::placeholder {
		color: var(--main-bg-light);
	}
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		transition: background-color 5000s;
		-webkit-text-fill-color: var(--main-bg-dark) !important;
	}
}

.input-bar {
	input {
		padding: 1rem;
		background: transparent;
		border: 1px solid var(--main-bg-light);
		border-radius: 4px;
		transition: border-color 250ms ease-in-out;

		&:focus {
			border-color: var(--main-bg-dark);
		}
	}
}

.input-bar-icon {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: transparent;
	color: var(--main-bg-light);
	border: 1px solid var(--main-bg-light);
	border-radius: 4px;
	transition: border-color 250ms ease-in-out, color 250ms ease-in-out;

	.icon {
		color: inherit;
		font-size: 2.2rem;
		margin-right: 1.2rem;
	}

	input {
		border: 0;
		background: none;
		color: var(--main-bg-dark);
	}
	&:focus-within {
		border-color: var(--main-bg-dark);
		color: var(--main-bg-dark);
	}
}

textarea {
	width: 100%;
	border-radius: 16px;
	padding: 1rem;
	color: var(--font);
}

.app-container {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.app-page {
		min-height: calc(100vh - 74px);
	}
}
